version: '3.8'

x-airflow-common: &airflow-common
  build:
    context: ./airflow
    dockerfile: Dockerfile
  env_file:
    - .env
  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    - ./dbt:/opt/airflow/dbt
    - ./airflow/profiles.yml:/opt/airflow/profiles.yml
    
  user: "${AIRFLOW_UID}:0"
  networks:
    - pipeline_network

services:
  postgres-db:
    image: postgres:13
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - pipeline_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  restaurant-api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: restaurant-api
    ports:
      - "8001:8000"
    networks:
      - pipeline_network
    restart: unless-stopped

  airflow-init:
    <<: *airflow-common
    container_name: airflow-init
    command:
      - "bash"
      - "-c"
      - "airflow db upgrade && airflow users create --role Admin --username ${_AIRFLOW_WWW_USER_USERNAME} --password ${_AIRFLOW_WWW_USER_PASSWORD} --firstname ${_AIRFLOW_WWW_USER_FIRSTNAME} --lastname ${_AIRFLOW_WWW_USER_LASTNAME} --email ${_AIRFLOW_WWW_USER_EMAIL}"
    user: root
    restart: on-failure
    depends_on:
      postgres-db:
        condition: service_healthy

  airflow-webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: "airflow webserver"
    ports:
      - "8080:8080"
    restart: unless-stopped
    depends_on:
      postgres-db:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: "airflow scheduler"
    restart: unless-stopped
    depends_on:
      postgres-db:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully

  streamlit-dashboard:
      build:
        context: ./streamlit 
      container_name: streamlit-dashboard
      ports:
        - "8501:8501" 
      networks:
        - pipeline_network 
      restart: unless-stopped
      environment:
      - POSTGRES_HOST=postgres-db 
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      depends_on:
        postgres-db:
          condition: service_healthy

networks:
  pipeline_network:
    driver: bridge
    name: restaurant_pipeline_network